/* File created by Øyvind Skeie Liland on 10.04.18 */

#content {
    margin-top: 160px;
    display: flex;
    flex-direction: row;
}

#content h4 {
    color: white;
}

#favoriteBox {
    width: 50%;
    border: solid 2px white;
}

#closestBox {
    width: 50%;
    border: solid 2px white;
}

#favoriteBox select,
#closestList {
    margin-bottom: 50px;
}

#closestBox h4,
#closestBox ol,
#favoriteBox h4,
#favoriteBox select {
    margin-left: 20px;
}

#closestList li {
    color: white;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 740px) {
    #content {
        margin-top: 375px;
    }
}