body {
  display: flex;
  flex-direction: column;
}

h3 {
  color: white;
}

/*Document by Joakim Moss Grutle*/

#map {
  width: 100%;
  height: 450px;
  background-color: grey;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* By Øyvind Skeie Liland */

#head-wrapper {
  position: static;
  z-index: 1;
}

#content {
  margin-top: 150px;
}

#searchBox {
  border: 0.5px solid white;
}

#toilets {
  color: white;
  font-family: "Trebuchet MS";
  padding: 5px;
}


#list li {
  color: white;
}

#searchToilets {
  width: 100%;
  height: 35px;
}

#searchToilets p {
  color:white;
  font-size: 20px;
  margin: 5px;
  text-decoration: underline;
}

#searchToilets p:hover {
  cursor: pointer;
}

#searchToilets input[type="text"] {
  font-size: 20px;
  width: 25%;
  height: 100%;
  float: left;
}

#searchToilets button {
  font-size: 20px;
  width: 5%;
  height: 117%;
  float: left;
  border: 0;
}

#searchToilets button:hover {
  background-color: black;
  color: white;
}

#searchToilets button:active {
  background-color: black;
  color: white;
  transform: translateY(1px);
}

#advancedSearch {
  color:white;
  display: inline;
}

#advancedSearch input {
  display: inline-block;
}

#advancedSearch input[type="text"] {
  font-size: 10px;
  width: 7%;
  height: 50%;
  float:none;
}

#advancedSearch label {
    text-align: left;
}
