/*Document by Joakim Moss Grutle*/

body {
  display: flex;
  flex-direction: column;
}

h3 {
  color: white;
}

#map {
  width: 100%;
  height: 450px;
  background-color: grey;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* By Øyvind Skeie Liland */

#head-wrapper {
  position: static;
  z-index: 1;
}

#content {
  margin-top: 150px;
}

#searchBox {
  border: 0.5px solid white;
  width: 100%;
  height: 50%;
}

#search {
  width: 100%;
}

#toilets {
  color: white;
  font-family: "Trebuchet MS";
  padding: 5px;
  width: 100%;
}


#list li {
  color: white;
}

#searchToilets p {
  color:white;
  font-size: 20px;
  text-decoration: underline;
}

#searchToilets {
  width: 100%;
}
#searchToilets p:hover {
  cursor: pointer;
}

#searchToilets input[type="text"] {
  font-size: 20px;
  width: 50%;
  height: auto;
  float: left;
}

#searchToilets button {
  font-size: 20px;
  width: 10%;
  height: auto;
  padding: 3px;
  border: 0;
  float:left;
}

#searchToilets button:hover {
  background-color: black;
  color: white;
}

#searchToilets button:active {
  background-color: black;
  color: white;
  transform: translateY(1px);
}

#advancedSearch {
  color:white;
}

#advancedSearch input[type="text"] {
  font-size: 10px;
  width: 7%;
  float:none;
}

#advancedSearch .inpGroup {
  border-right: 0.5px solid white;
  margin-left: 3px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 740px) {

  #searchBox h3 {
    font-size: 30px;
  }

  #searchToilets input[type="text"] {
    font-size: 30px;
  }

  #searchToilets button {
    font-size: 30px;
  }
  #searchToilets p {
    font-size: 25px;
  }

  #list li {
    font-size: 25px;
  }

  #advancedSearch input[type="text"] {
    font-size: 20px;
    width: 7%;
    float:none;
  }

  #advancedSearch label {
    font-size: 20px;
  }
}
