/*Document by Øyvind Skeie Liland*/
@import url("https://fonts.googleapis.com/css?family=Sofia");
body {
  background: #303030;
  display: flex;
  flex-direction: column;
}

.menu {
  transform: skewY(-1deg);
  transform-origin: 0;
  overflow: hidden;
  background-color: black;
  top: 88px;
  left: 0px;
  width: 100%;
  position: fixed;
  height: 45px;
  border-bottom: 2px solid;
}

.menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.menu li {
  width: 33.33%;
  border: 1px solid;
  border-bottom-color: black;
}

/*.menu a by Joakim Moss Grutle*/
.menu a {
  display: block;
  padding: 15px 25px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #424bf4;
  box-shadow: 0 9px #999;
  font-family: "Trebuchet MS";
  text-decoration: none;
}

.menu a:hover {
  background-color: #252b96
}

.menu a:active {
  background-color: #252b96;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

.centerText {
  text-align: center;
  font-family: "sofia";
}

.centerText:hover {
  cursor: pointer;
}

.header-container {
  color: #DFE2DB;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: auto;
  background: linear-gradient(125deg, #191919, #424bf4);
  display: inline-block;
  transform: skewY(-1deg);
  transform-origin: 0;
}

/*By Øyvind Skeie Liland*/

@media (max-width: 600px) {
  .menu a {
    font-size: 11px;
    padding: 16px 25px;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 740px) {
  .header-container {
    height: auto;
    padding-bottom: 40px;
  }

  .header-container h1 {
    font-size: 40px;
  }

  .menu {
    height: 85px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .menu li {
    height: 85px;
  }

  .menu a {
    height: 100px;
    font-size: 28px;
    padding: 25px 25px;
  }
}
